<div class="paper-content" [@wrapper]="state">
  <div *ngIf="loaded">
    <DynamicComponent
      [componentTemplate]='contentGrid'
      [componentModules]="extraModules"
      [componentStyles]="exstraStyle"
      (dynamicComponentReady)="dynamicCallback()">
    </DynamicComponent>
    <div class="content">
        <footer></footer>
    </div>
  </div>
  <!--
  <div class="loader centered" *ngIf="!loaded"><div class="loader-inner ball-scale"><div></div></div></div>
  -->
  <!--

  <div class="container" style="background: red;">
    <div class="row">
      <div class="col s12 m12">
        1
        <br/>
        1
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <h1 class="likeh1">Her en overskrift</h1>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2>Her en overskrift</h2>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3>Her en overskrift</h3>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <blockquote>
              This is an example quotation that uses the blockquote tag.
        </blockquote>
        <h4>Her en overskrift</h4>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h5>Her en overskrift</h5>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h6>Her en overskrift</h6>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="">
    <div class="row">
      <div class="col s12 m12">
        1
        <br/>
        1
      </div>
    </div>
  </div>
  <div class="container" style="background: yellow;">
    <div class="row">
      <div class="col s12 m12">
        1
        <br/>
        1

      </div>
    </div>
  </div>


  -->
</div>
