
<header>
    <img src="{{umbpagegeneral?.MainLogo}}" alt="{{umbpagegeneral?.CompanyName}}" class="responsive-img" />
</header>

<div class="menubar">
    <div class="menushuffelbtn">
        <div class="menushuffelbtnicon open">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
</div>

<nav class="swishmenu closed">
    <menu-item [items]="menuItems" [isCollapsed]="is_menutab_opened" [selectItem]="selectItem"></menu-item>
    <div class="footermenuitems">
        <a href="#">
          Footermenuitem 1
        </a>
        <a href="#">
          Footermenuitem 2
        </a>
    </div>
</nav>
